html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

button {
    margin: 50px;
    font-size: 20px;
    background-color: red;
    animation: vibration 0.1s infinite;
}

button:hover {
    background-color: green;
    animation-play-state: paused;
}

@keyframes vibration {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(5px);
    }
}

a {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    color: black;
}

a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: green;
    transition: width 0.3s ease, left 0.3s ease;
}

a:hover {
    color: green;
}

a:hover::after {
    width: 100%;
    left: 0;
}

.ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    border: 2px black solid;
    margin-left: 80px;
    animation: move_down 1s cubic-bezier(.38,.62,0,.98) infinite;
}

@keyframes move_down{
    0% {
        transform: translateY(0);
    }
    2%{
        transform: translateY(20px);
    }
    10% {
        transform: translateY(250px);
    }
    12% {
        transform: translateY(250px);
        height: 50px;
        width: 65px;
    }
    22% {
        transform: translateY(120px);
        height: 60px;
        width: 60px;
    }
    32% {
        transform: translateY(250px);
    }
    34% {
        transform: translateY(250px);
        height: 54px;
        width: 63px;
    }
    44% {
        transform: translateY(180px);
        height: 60px;
        width: 60px;
    }
    54% {
        transform: translateY(250px);
    }
    56% {
        transform: translateY(250px);
        height: 56px;
        width: 62px;
    }
    66% {
        transform: translateY(200px);
        height: 60px;
        width: 60px;
    }
    76% {
        transform: translateY(250px);
    }
    78% {
        transform: translateY(250px);
        height: 58px;
        width: 61px;
    }
    88% {
        transform: translateY(230px);
        height: 60px;
        width: 60px;
    }
    98% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(250px);
    }
}